<div class="container">
  <div class="row" style="margin-top: 20%;">

    <form class="col-md-6 mx-auto" [formGroup]="LoginForm">
      <h1>Login Now</h1>
      <div class="form-floating mb-3 mt-3">
        <label for="email">Email<span class="text-danger"> *</span></label>
        <input type="email" class="form-control" placeholder="Enter email" formControlName="Email">
        <div class="text-danger" *ngIf="Email?.invalid && (Email?.touched||Email?.dirty)">
          <div *ngIf="Email?.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="Email?.errors?.['email']">
            Invalid Email format
          </div>
        </div>
      </div>
      <div class="form-floating mt-3 mb-3">
        <label for="pwd">Password<span class="text-danger"> *</span></label>
        <input type="password" class="form-control" placeholder="Password" formControlName="Password">
        <div class="text-danger" *ngIf="Password?.invalid && (Password?.touched||Password?.dirty)">
          <div *ngIf="Password?.errors?.['required']">
            Password is required
          </div>
            <div *ngIf="Password?.errors?.['minlength']">Password must be at least 6 characters long.</div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <button class="btn btn-primary w-100" type="submit" [disabled]="this.LoginForm.invalid" (click)="Login()">Login</button>
      </div>
      <div class="mb-3 mt-3">
        Don't have an account? <a class="text-link" routerLink="/register">Register</a>
      </div>
    </form>

  </div>

</div>
